div,p{
	margin: 0;
	padding: 0;
}

html{
	background: red;
	overflow: hidden;
}

body{
	background: gray;
	font-family: Arial;
	font-size: 100%;
	margin: 0 auto;
	overflow: hidden;
	width: 500px;
}

div{
	border: 10px solid white;
	background-color: yellow;
	margin: 10px;
	padding: 10px;
	width: 450px;
}

p{
	border: 5px solid white;
	color: white;
	background-color: black;
}